<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
  <add key="RemoteURL" value="http://localhost:8011/" />
  <add key="AutoUpdate" value="0" />
  <add key="lang" value="en" />
  <add key="AppUpdate" value="2018-01-17 14:52:07" />
  <add key="previewLayout" value="pnlPic:796,472;panel1:796,328;panel2:589,800;panel4:589,471;tabControl1:589,329;" />
  <add key="userid" value="admin" />
 </appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="./Log/"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd&quot;.log&quot;"/>
			<maxSizeToRollBackups value="30"/>
			<maximumFileSize value="30MB"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="[%d][%t][%-5p][%c] - %m%n"/>
			</layout>
		</appender>
		<root>
			<!--日志级别 ALL,DEBUG,INFO,WARN,ERROR,FATEL-->
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
