<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
		<!--http://115.28.222.110:8811/-->
    <add key="RemoteURL" value="http://localhost:8011/"/>
    <!--<add key="RemoteURL" value="http://121.42.193.24:80/"/>-->
    <!--<add key="RemoteURL" value="http://192.168.1.100:80/"/>-->
    <!--0:不自动更新 1：自动更新-->
		<add key="AutoUpdate" value ="0"/>
		<add key="lang" value ="en"/>
    <add key="AppUpdate" value ="2013-03-01 12:00:00"/>
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="./Log/"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd&quot;.log&quot;"/>
			<maxSizeToRollBackups value="30"/>
			<maximumFileSize value="30MB"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="[%d][%t][%-5p][%c] - %m%n"/>
			</layout>
		</appender>
		<root>
			<!--日志级别 ALL,DEBUG,INFO,WARN,ERROR,FATEL-->
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
